.container-1{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}
.container-2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container-1 div, .container-2 div, .container-3 div{
    border: 1px #ccc solid;
    padding: 10px;
}
.box-1{
    order: 2;
    flex: 2;
}
.box-2{
    order: 1;
    flex: 1;
}
.box-3{
    order: 3;
    flex: 1;
}

.container-2-box{
    flex-basis: 30%;
}
.container-3-box{
    flex-basis: 40%;
}