
.navbar .container-fluid .navbar-brand {
    font-size: 45px;
    font-family: Helvetica;
        
}
#navbarNavAltMarkup .navbar-nav a {
    margin-right: 30px ;
}
#navbarNavAltMarkup .navbar-nav a:hover {
    background-color: rgb(189, 186, 186);
    border-radius: 25px 10px 15px 0px ; 
    
}
.navbar .container-fluid {
    margin-right: 5%;
    width: 100%;
    
}
/* Make the image fully responsive */ 
  .carousel-inner img {
    width: 100%;
    
  }

#text-slider{
    margin: 25px;
    border-radius: 25px;
    background-color: rgb(187, 181, 181);
    color: black;
}

.container-4{
    display: flex;
    
}
.container-4 .left-div {
    justify-content: space-around;
    flex-basis: 60%;
}

.container-4 .left-div .box4{
    flex-basis: 40%;
    border: 2px #ccc solid;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
    border-radius: 10px 35px 5px 10px;
    }
.container-4 div, .box4{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
    align-items:center;
    font-size: x-large;
    
}
.container-4 .right-div{
    flex-basis: 40%;
}
.container-4 .right-box {
    border: 1px #ccc;
    
}

